<a href="https://colab.research.google.com/github/py10/py10/blob/master/NOTEBOOK/ch8_exercises_py10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 
a = "a:b:c:d"
"#".join(a.split(":"))

'a#b#c#d'

In [ ]:
# [Q1] Code-2
a = "a:b:c:d"
b= a.split(":")
b
c = "#".join(b)
c

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C')
a.get('C',70)

70

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a.update({'C': 70})
a

{'A': 90, 'B': 80, 'C': 70}

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3] #원래 리스트
a = a + [4,5] #또다른 리스트를 더한다.
a #a의 리스트는 변환이 되는게 아닌 리스트끼리 더해진 새로운 리스트가 반환되는것이다. 덮어쓰기원리다.

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3]
id(a)

139982905930248

In [ ]:
a = a + [4,5]
id(a) #주소가 다르다. 즉, 새로운 리스트가 추가되면서 또다른 새로운 리스트가 되는것이다.

139982906767496

In [ ]:
a.extend([4, 5])
a
id(a)

139982906767496

In [ ]:
id(a) #extend 함수를 쓸때 보면 +를 쓸때랑 비교했을때 주소가 바뀌지않고 그대로 인것을 확인 할수있다.

139982906767496

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0 #초기화
while A:  #반복문을 사용
  num = A.pop()  #리스트 요소를 끄집어낸다.
  if num >= 50:  #if문을 이용하여 50이상 값을
    result += num #더하게 한다
print(result)    #출력

481

In [ ]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0

for i in A:
  if i >= 50:
    result += i

print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
A = int(input("Insert integer n : "))


def fib(n):
  if n == 0: return 0
  if n == 1: return 1
  return fib(n-2) + fib(n-1)

for i in range(A):
  print(fib(i), end="\t")

Insert integer n : 10
0	1	1	2	3	5	8	13	21	34

In [ ]:
# [Q5] Code-2
def fib(n):
    if n == 0 : return 0          # n이 0일 때는 0을 반환
    if n == 1 : return 1          # n이 1일 때는 1을 반환
    return fib(n-2) + fib(n-1)    # n이 2 이상일 때는 그 이전의 두 값을 더하여 반환

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1
question6 = list(map(int, input(">>>").split(',')))
print("합은 = %d " % sum(question6))

>>>65,45,2,3,45,8
합은 = 168

In [ ]:
# [Q6] Code-2
user_input = input("숫자를 입력: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    # 입력은 문자열이므로 숫자로 변환해야 한다.
print(total)

숫자를 입력: 65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1
A = [1,2,3,4,5,6,7,8,9]
T = int(input(">"))
print(list(map(lambda x: x* T,A)))

>5
[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
# [Q7] Code-2
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)       # 입력 문자열을 숫자로 변환
for i in range(1, 10):
    print(i*dan, end= ' ')  # 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):5
5 10 15 20 25 30 35 40 45

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
# [Q8] Code-1
with open("abc.txt", 'r') as f:
    content = f.read()
content = list(content.split())   # White space를 기준으로 문자를 슬라이스 한다.
print(list(reversed(content)))    # reversed() 함수를 사용해서 리스트를 역순으로 출력한다.

['EEE', 'DDD', 'CCC', 'BBB', 'AAA']

In [ ]:
# [Q8] Code-2
f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [ ]:
# [Q9] Code-1
f = open("sample.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

f = open("result.txt", "w")
f.write(str(average))
f.close()
#result.txt 가 생성되어 평균을 알려줌

In [ ]:
# [Q9] Code-2
with open("sample.txt", 'r') as f:
    content = f.read()
content = content.split()

sum = 0
for i in content:
    sum += int(i)
sum /= len(content)

print("Average of sum = %d " % sum)

Average of sum = 79

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [ ]:
# [Q10] Code-1
class Calculator:
    def __init__ (self, numberList): 
        self.numberList = numberList

    def add(self):
      result = 0
      for num in self.numberList: 
          result += num
      return result

    def avg(self):
        total = self.add()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0



---

In [ ]:
class Calculator:
    def __init__(self, x): self.m_list = x
    def sum(self): return sum(self.m_list)
    def avg(self): return sum(self.m_list)/len(self.m_list)


cal1 = Calculator([1, 2, 3, 4, 5])
cal2 = Calculator([6, 7, 8, 9, 10])

print("Ca11's sum = %d, Cal2's sum = %d" % (cal1.sum(), cal2.sum()))
print("Cal1's avg = %.2f, Cal2's sum = %.2f" % (cal1.avg(), cal2.avg()))

Ca11's sum = 15, Cal2's sum = 40
Cal1's avg = 3.00, Cal2's sum = 8.00

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

mkdir: cannot create directory ‘doit’: File exists

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

mv: cannot stat 'mymod.py': No such file or directory

In [ ]:
# [Q11] Code-1
import sys
sys.path.append("C:/doit")
import mymod

ModuleNotFoundError: ignored

In [ ]:
# [Q11] Code-2
os.getcwd()
import mymod

NameError: ignored

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0 #result의 초깃값은 0이다.
 
try:
    [1, 2, 3][3] #try문 안의 [1, 2, 3][3] 이라는 문장 수행 시 IndexError가 발생하여 except IndexError: 구문으로 이동하게 되어 result에 3이 더해져 3이 된다.
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4  #최종적으로 finally 구문이 실행되어 result에 4가 더해져 7이 된다.
 
print(result)  #print(result)가 수행되어 result의 최종 값인 7이 출력된다.

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [ ]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

In [ ]:
# [Q13] Code-2
A = list(input(">>> "))
temp = []
for i in A:
    temp.append(int(i))     # 문자를 숫자로 바꿔주는 과정

idx = 0
oddFlag = False             # 홀수임을 나타내는 플래그 변수
evenFlag = False            # 짝수임을 나타내는 플래그 변수

while idx < len(temp):      # for문을 쓰지 않은 이유는 아래 설명
    if temp[idx] % 2 == 0:  # 원소가 짝수라면
        oddFlag = False     # odd chain이 깨졌으므로 oddFlag = False
        if evenFlag:        # even chain이라면 사이에 '*'을 넣어줘야 한다.
            temp.insert(idx, '*')
            idx += 1        # 사이에 *을 넣어줘서 리스트의 길이가 늘어났으므로 인덱스 증감
        evenFlag = True     # even chain을 위한 준비
        idx += 1            # 다음 loop를 위해 인덱스 증감
    else:
        evenFlag = False
        if oddFlag:
            temp.insert(idx, '-')
            idx += 1
        oddFlag = True
        idx += 1

print(temp)

>>> 4
[4]

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [ ]:
# [Q14] Code-1
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:
            _c = c
            if cnt: result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt +=1
    if cnt: result += str(cnt)
    return result

print (compress_string("aaabbcccccca"))

a3b2c6a1

In [ ]:
# [Q14] Code-2
result = ""


def compress(start, inputString, result):
    count = 1                                      # count의 기본값은 1
    i = start
    if start >= len(inputString):                  # 재귀함수 탈출조건(Inf loop 방지)
        print("result =" + result)
        return;

    result = result + inputString[start]           # 시작 문자는 넣어준다.
    for i in range(start, len(inputString)-1):     # 다음 문자랑 같으면 증감
        if inputString[i] == inputString[i-1]: count += 1
        else: break                                # 같지 않으면 반복문을 나온다.
    result = result + str(count)
    return compress(i+1, inputString, result)


userInput = input("Input string >>> ")
compress(1, userInput, result)

Input string >>> aaabbcccccca
result =a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [ ]:
# [Q15] Code-1
question15 = list(input(">>> "))
question15.sort()
compare = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

if question15 == compare: print("true")
else: print("false")

>>> 0123456789 01234 01234567890 6789012345 012322456789
false

In [ ]:
# [Q15] Code-2
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [ ]:
# [Q16] Code-1
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result = []
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb