<a href="https://colab.research.google.com/github/py10/py10/blob/master/NOTEBOOK/mid_exam_py10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬활용 중간고사 풀이

### 문제1. 

  - 다음 식의 연산 결과는?? 
      
       a = 5\
       b = 3\
       a ** b ?

In [4]:
a = 5
b = 3
a ** b 
# *은 곱이지만 **는 제곱이다. 즉 5를 3제곱하는것이다.

125

###문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는??
\
   - a = "Life is too short,you need Python!"

In [5]:
a = "Life is too short,you need Python!"
a[-16:-8]

# -1은 마지막 문자부터 시작한다.
# 슬라이싱  앞은  -16이니까 뒤에서 부터 16번까지 가면 y까지다.
# 슬라이싱  뒤는 -8이니까 첫번째 까지 갔던 문자부터 -8까지 포함한다
# 그러면 y부터 d까지 포함되어 you need가 된다

'you need'

### 문제3. 다음 list a의 인덱싱 결과는???

 - a = [1,2,(3,4),['a','b',['My','Life','Good']]]\
a[3][-1][0]

In [6]:
a = [1,2,(3,4),['a','b',['My','Life','Good']]]
a[3][-1][0]
# 리스트는 첫번째 리스트는 0부터 이다.
# 세 번째 리스트는 대괄호에 있는 문자들이다.
# -1은 슬라이싱처럼 맨뒤부터 시작한다
# 그러므로 대괄호안에 있는 리스트 중 -1에 해당되는 리스트는 ['My','Life','Good']이다.
# 대괄호 속 대괄호 문자의 리스트[0]은 my가 해당된다.
# 즉, 결과는 my가 된다

'My'

###문제4.다음 tuple t1의 슬라이싱 결과는?

- t1 = (0,1,"s", "t", "u")\
t1[2:-2]

In [16]:
t1 = (0,1,"s", "t", "u")
t1[2:-2]
# 튜플도 슬라이싱처럼 시작한다.
# 튜블의 2값은 "s" 이다.
#-2값은 슬라이싱처럼 뒤에서 부터 시작하므로 "t"가 된다.
#하지만 한가지 값인 s만 가질때는 ,를 붙여야 한다.

('s',)

### 문제5. 다음 bool 값 출력 중 정확한 것은?
- bool([0,1,2]),bool([0]), bool((0)), bool((0,))

In [17]:
bool([0,1,2]),bool([0]), bool((0)), bool((0,))
# 리스트,튜블 들이다
# 하지만 튜플은 한가지값을 쓸때는 ,를 필수로 들어가야 된다
# 즉 3번째 bool값은 거짓이 False로 출력된다.

(True, True, False, True)

#### 문제6. 다음 조건문을 1줄 코드로 변경하시오

In [0]:
score = 80
if score >= 60:
  message = "success"
else:
  message = "failure"

In [25]:
score = 80
massage = "success" if score >= 60 else "failure"
print(message)
#조건문이 참인 경우 if 조건문 else 조건문이 거짓인 경우 단축코드를 쉽게 만들어 낼 수 있다!

success

## 문제7. 다음 코드의 실행 결과는?

In [27]:
games = ["A", "B", "C"]

for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')

#len(games)를 통해 games에 들어있는 문자의 개수를 센다. 3이다. range(3)이 된다
#range(3)은 range(0, 3)이다. 0,1,2가 출력된다.
#games[cnt]값은 문자값을 순서대로 출력된다.
#end=','는 사이 컴마를 넣어준다. 
#결국 숫자0, 문자A 차례대로 출력한다.

0 A,1 B,2 C,

### 문제8. 다음의 결과가 출력되지 않는 것은? 'I ate 10 apples. so I was sick for three days.'

In [29]:
number = 10
day = "three"
# print("I ate {0} apples. so I was sick for {1} days.".format(10,day))
# print(f"I ate {number} apples. so I was sick for {day} days.")
# print(f"I ate {number} apples. so I was sick for {'three'} days.")
print("I ate {0} apples. so I was sick for {1} days.".format(number=10,day))


# 이름이 있는 인자는 이름 없는 인자 앞에 올 수 없다.

SyntaxError: ignored

##### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [30]:
sum([num for num in range(1,1001) if num % 5 ==0])
# sum() 은 파이썬 내장 함수로 어떤 연속열의 합을 구하는 함수이다.
# for num in range(1,1001) 부분에선 1에서 1000까지 값이다.
# 조건부 if num % 5 ==0 에서 5의 배수라고 지정했다.
# 결국 1에서 1000까지 합이 나오게 된다.

100500

## 문제10. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?

In [33]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0
 
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)
 
print("평균 점수 = {0}".format(total/len(subjects)))

# zip함수는 동일한 개수로 이루어진 자료형을 묶어주는 역할을 한다. 한번에 간단하게 zip으로 묶어주면 된다.
# 5번라인에서 부터 7번을 본다. total의 값이 이미 점수의 총합으로 표현되있다.
# len(subjects)를 다시보면 4이다. 
# 평범하게 평균 구할때 총합/과목 수 처럼 총합 total값에 len(subjects)값, 즉, 4를 나누는 식으로 출력이 된다.
# 그래서 답은  zip과 total/len(subjects))이 된다.

python 88
english 77
math 66
science 95
평균 점수 = 81.5